html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

a {
    color: #000000;
    background-color: #f2e863;
    border: 4px solid #f2e863;
    border-radius: 5px;
    text-decoration: none;
    font-style: italic;
    padding: 5px 5px 0 5px;
}

a:focus {
    border: 4px solid #ffffff;
    border-radius: 2px;
}

a:hover {
    border: 4px solid #ffffff;
    border-radius: 5px;
}


body {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 1.8rem;
    background-image: linear-gradient(rgba(105, 235, 208, 1), rgba(234, 242, 227, 1));
    min-height: 100vh;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 7.2rem;
    line-height: 8.8rem;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 2rem 0;
}

h2 {
    font-size: 2.4rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.finePrint {
    font-size: 1.2rem;
    margin: 0;
}

div {
    padding: 10px 0;
    margin: 0 auto;
}

p {
    line-height: 3rem;
    margin: 0 auto;
}

.radioButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.insideContainer {
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

input {
    font-family: 'Montserrat Alternates', sans-serif;
}

input[type=text] {
    background-color:rgba(105, 235, 208, 0);
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

input[type=text]:focus {
    background-color:rgba(105, 235, 208, 1);
    border-color: rgba(105, 235, 208, 1);
}

input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

input[type=radio]+label {
    border: 2px solid rgba(105, 235, 208, 1);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    line-height: 4rem;
}

input[type=radio]:focus + label,
input[type=radio]:hover + label {
    border-color: rgba(255, 255, 255, 0.9   );
}

input[type=radio]:checked + label {
    border-color: #ffffff;
}

input[type=submit] {
    font-size: 2.4rem;
    padding: 1rem 6rem;
    border: 2px solid rgba(105, 235, 208, 0.2);
    border-radius: 5px;
    background-color: rgba(105, 235, 208, 0.4);
    font-weight: bold;
    letter-spacing: 1px;
}

input[type=submit]:focus,
input[type=submit]:hover {
    border-color: #ffffff;
}

.results {
    font-size: 2.4rem;
    line-height: 4.8rem;
    background: rgba(250,250,250,0.5);
    padding: 20px 20px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all ease 1000ms;
}

.results.visible{
    opacity: 1;
    margin-bottom: 20px;
}


/* iPad Pro */
@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 6rem;
        line-height: 7.2rem;
    }
}
  
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .containter {
        width: 100%;
    }

    h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    h2 {
        font-size: 2rem;
        padding: 0.8rem 2rem;
    }

    body {        
        font-size: 1.6rem;
    }

    p {
        line-height: 2rem;
    }

    .insideContainer {
        width: 85%;
    }

    .results {
        font-size: 2rem;
        line-height: 4.1rem;
        padding: 0;
    }

    .results.visible {
        padding: 10px;
    }

    input[type=radio]+label {
        line-height: 3.5rem;
    }

    input[type=submit] {
        font-size: 2.1rem;
        padding: 1rem 5rem;
        letter-spacing: 1px;
    }
    .radioButtons {
        width: 100%;
    }
}
  
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .insideContainer {
        width: 90%;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 5.4rem;
    }
    
    .radioButtons {
        padding-bottom: 0;
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {
    h1 {
        font-size: 3.8rem;
        line-height: 4.6rem;
    }

    h2 {
        font-size: 1.8rem;
        padding: 0 0 0.5rem;
    }

    div {
        padding-bottom: 2px;
    }

    .finePrint {
        padding-bottom: 1rem;
    }

    input[type=radio]+label {
        line-height: 2.5rem;
        margin: 2px;
    }

    input[type=submit] {
        font-size: 1.8rem;
        padding: .75rem 4rem;
        letter-spacing: .5px;
    }

    .submit {
        padding-top: .5rem;
        margin-bottom: 20px;
    }
    .results {
        font-size: 1.6rem;
        line-height: 3rem;
    }
}

/* tiny phones and down */
@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 1.6rem;
        padding: 0 0 0.75rem 0;
        margin: 0 auto;
    }

    input[type=radio]+label {
        line-height: 2rem;
    }

}